<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9F67cdB1VzwZEtI-0vE3IEJIQjj6pRf4</string>
	<key>GCM_SENDER_ID</key>
	<string>726689849775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rahma.rahmaApp</string>
	<key>PROJECT_ID</key>
	<string>rahma-app-f7594</string>
	<key>STORAGE_BUCKET</key>
	<string>rahma-app-f7594.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:726689849775:ios:f91cff7079768431f10f5a</string>
</dict>
</plist>